body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
}

canvas {
    max-width: 800px;
    margin: 20px auto;
}